<link rel="icon" type="image/png" sizes="16x16" href="../public/img/favicon.ico">
<link href="/public/css/style.css" rel="stylesheet" type="text/css">

<div id="title">Password Manager</div>
<img id="img" src="../public/img/signup.png">
<div id='logform'>
    <form id="login" method="POST" action="/login">
        <div id="abt">LOGIN</div> 
        <input class="data" type="text" name="username" placeholder="Username"><br>
        <input class="data" type="password" name="password" placeholder="Password"><br>
        <input type="submit" value="LOGIN" class="btn">
        <div id="xtra">Not a member? <a href="/signup">Sign-up</a> now</div>
    </form>
</div>