<link rel="icon" type="image/png" sizes="16x16" href="../public/img/favicon.ico">
<link href="/public/css/style.css" rel="stylesheet" type="text/css">

<div id="title">Password Manager</div>
<img id="img" src="../public/img/signup.png">
<div id='register'>
    <form id="signup" method="POST" action="/signup">
        <div id="abt">SIGN-UP</div>
        <input class="data" type="text" name="username" placeholder="Username"><br>
        <input class="data" type="email" name="email" placeholder="Email"><br>
        <input class="data" type="password" name="password" placeholder="Password"><br>
        <input type="submit" value="SIGN-UP" class="btn">
        <div id="xtra">Already have an account? <a href="/login">Login</a></div>
    </form>
</div>